@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* TOP SECTION */

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-background {
    background-color: #1F2937;
    color: white;
    padding: 20px;
}

.main-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}

.header-container {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.header {
    font-size: 25px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.content-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    width: 500px;
    height: auto;
}

.content-top-with-img {
    display: flex;
    flex-direction: row;
    padding: 10px 200px;
    gap: 100px;
    justify-content: center;
    margin-bottom: 50px;
}

.button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 100px;
    text-align: center;
}

/* TOP MIDDLE SECTION */

.middle-section {
    background-color: white;
    padding: 50px;
}

.middle-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.middle-subtext {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 50px;
    justify-content: center;
}

.card {
    width: 180px;
    aspect-ratio: 1 / 1;
    border: 3px solid #3882F6;
    border-radius: 18px;
    background-color: white;
}

.card-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.text {
    margin-top: 10px;
    font-size: 18px;
    color: darkgrey;
    display: flex;
    max-width: 180px;
}

/* LOW MIDDLE SECTION */

.low-middle {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #56595f;
    font-weight: 300;
    max-width: 800px;
    font-style: italic;
}

.signature {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 250px;

}

/* BOTTOM SECTION */

.low-section {
    border: #3882F6 solid 1px;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 100px 175px;
    padding: 50px 125px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-title {
    font-size: 25px;
    font-weight: bold;
}

.info-subtext {
    color: lightgray;
}

.sign-up {
    border: white solid 2px;
    width: fit-content;
    padding: 5px 25px;
    border-radius: 10px;
    height: fit-content;
    font-size: 18px;
}

/* FOOTER SECTION */

.footer {
    background-color: #1F2937;
    color: lightgray;
    padding: 50px;
    font-size: 18px;
    text-align: center;
}